#navbar
{
	width: 100%;
	height: 120px;
	background-color: hsl(0, 0%, 90%);

	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: 0 10rem;
}

.logo-img
{
	height: 80%;
}

#navbar > ul
{
	width: 25%;

	text-decoration: none;
	
	display: flex;
	justify-content: space-between;
}

#navbar a
{
	color: #DC3C4D;
	text-decoration: none;
}

#navbar li
{
	list-style-type: none;
	font-size: 2.25em;
	font-family: sans-serif;
	font-weight: bold;
}
