.App
{
	min-height: 100%;

	display: flex;
	flex-direction: column;

	position: relative;
}

#navbar
{
	width: 100%;
	height: 120px;
	background-color: hsl(0, 0%, 90%);

	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: 0 10rem;
}

.logo-img
{
	height: 80%;
}

#navbar > ul
{
	width: 25%;

	text-decoration: none;
	
	display: flex;
	justify-content: space-between;
}

#navbar a
{
	color: #DC3C4D;
	text-decoration: none;
}

#navbar li
{
	list-style-type: none;
	font-size: 2.25em;
	font-family: sans-serif;
	font-weight: bold;
}

#home
{
	height: 100%;
	background-color: #DC3C4D;

	color: black;
	text-align: center;
	font-size: 3.25em;
	font-family: monospace;
	font-weight: 600;

	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-grow: 1;

	padding: 0 7.5rem;
}

.shop-link
{
	transition: color 0.2s ease-in-out;

	color: hsl(0, 0%, 90%);
	text-decoration: none;
}

.shop-link:hover
{
	color: black;
}

#odin
{
	text-decoration: none;
	color: #E3B261;
}

#shop
{
	min-height: 100%;
	background-color: hsl(0, 0%, 80%);

	flex-grow: 1;
}

#shop-nav
{
	height: 125px;
	background-color: #DC3C4D;
}

.nav-shop-sections
{
	height: 100%;
	display: flex;
	justify-content: space-between;

	margin: 0;
	padding: 0 5rem;
}

.selected
{
	background-color: hsl(0, 0%, 80%);
}

.nav-shop-sections li
{
	width: max-content;
	height: 100%;
	list-style: none;

	display: flex;
	align-items: center;

	padding: 0 1rem;
}

.nav-shop-sections a
{
	height: 100%;
	text-decoration: none;
	color: hsl(0, 0%, 25%);

	display: flex;
	align-items: center;
}

.nav-shop-section-text
{
	font-size: 3em;
	font-family: monospace;
	font-weight: 700;

	margin-left: 1rem;
}

.nav-shop-section-img
{
	height: 75px;
}

.shop-section
{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 5rem;

	padding: 5rem 2.5rem;
}

.shop-item
{
	width: 350px;
	height: 450px;
	background-color: hsl(0, 0%, 90%);

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	padding: 1rem 2rem;
}

.shop-item > .title
{
	color: #DC3C4D;
	font-size: 1.9em;
	font-family: monospace;

	margin: 0 0 0.25rem 0;
}


.shop-item-img-container
{
	height: 50%;

	display: flex;
	align-items: center;
}

.shop-item img
{
	max-width: 100%;
	max-height: 100%;
}

.shop-item > .spec
{
	width: 100%;

	font-size: 1.4em;
	font-family: monospace;

	display: flex;
	justify-content: space-between;
}

.shop-item > .price
{
	color: #DC3C4D;
	margin: 0.25rem;
}

.add-to-cart
{
	background-color: #DC3C4D;

	font-size: 1.5em;
	font-family: monospace;

	padding: 0.75rem;
	border: none;
}

.add-to-cart:active
{
	background-color: hsl(354, 70%, 45%)
}


#footer
{
	width: 100%;
	height: 50px;
	background-color: hsl(0, 0%, 90%);

	font-size: 1.5em;
	font-weight: 600;

	display: flex;
	justify-content: center;
	align-items: center;

	position: absolute;
	bottom: 0;
}

#footer > a
{
	transition: color 0.125s ease-in-out;
	color: black;

	display: flex;
	align-items: center;

	margin-left: 0.5rem;
}

#footer > a:hover
{
	color: #DC3C4D;
}
