.App
{
	min-height: 100%;

	display: flex;
	flex-direction: column;

	position: relative;
}

#navbar
{
	width: 100%;
	height: 120px;
	background-color: hsl(0, 0%, 90%);

	display: flex;
	justify-content: space-between;
	align-items: center;

	position: relative;

	padding: 0 10rem;
}

.logo-img
{
	height: 80%;
}

#navbar > ul
{
	width: 25%;

	text-decoration: none;
	
	display: flex;
	justify-content: space-between;
}

#navbar a
{
	color: #DC3C4D;
	text-decoration: none;
}

#navbar li
{
	list-style-type: none;
	font-size: 2.25em;
	font-family: sans-serif;
	font-weight: bold;
}

#navbar > .nav-cart
{
	position: absolute;
	right: 2.5rem;
}

.nav-cart-container
{
	width: 50px;
	height: 50px;

	display: flex;
	justify-content: center;

	position: relative;
}

.nav-cart-container > span
{
	color: #DC3C4D;
	text-align: center;
	font-size: 1.75em;
	font-weight: bold;
	user-select: none;

	position: absolute;
	top: 0;
	right: 52.5%;
	transform: translateX(50%);
}

.nav-cart svg
{
	width: 50px;
	height: 50px;
}

#home
{
	height: 100%;
	background-color: #DC3C4D;

	color: black;
	text-align: center;
	font-size: 3.25em;
	font-family: monospace;
	font-weight: 600;

	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-grow: 1;

	padding: 0 7.5rem;
}

.shop-link
{
	transition: color 0.2s ease-in-out;

	color: hsl(0, 0%, 90%);
	text-decoration: none;
}

.shop-link:hover
{
	color: black;
}

#odin
{
	text-decoration: none;
	color: #E3B261;
}

#shop
{
	min-height: 100%;
	background-color: hsl(0, 0%, 80%);

	flex-grow: 1;
}

#shop-nav
{
	height: 125px;
	background-color: #DC3C4D;
}

.nav-shop-sections
{
	height: 100%;
	display: flex;
	justify-content: space-between;

	margin: 0;
	padding: 0 5rem;
}

.selected
{
	background-color: hsl(0, 0%, 80%);
}

.nav-shop-sections li
{
	width: max-content;
	height: 100%;
	list-style: none;

	display: flex;
	align-items: center;

	padding: 0 1rem;
}

.nav-shop-sections a
{
	height: 100%;
	text-decoration: none;
	color: hsl(0, 0%, 25%);

	display: flex;
	align-items: center;
}

.nav-shop-section-text
{
	font-size: 3em;
	font-family: monospace;
	font-weight: 700;

	margin-left: 1rem;
}

.nav-shop-section-img
{
	height: 75px;
}

.shop-section
{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 5rem;

	padding: 5rem 2.5rem;
}

.shop-item
{
	width: 350px;
	height: 450px;
	background-color: hsl(0, 0%, 90%);

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	padding: 1rem 2rem;
}

.shop-item > .title
{
	color: #DC3C4D;
	font-size: 1.5em;
	font-family: monospace;

	margin: 0 0 0.25rem 0;
}


.shop-item-img-container
{
	height: 50%;

	display: flex;
	align-items: center;
}

.shop-item img
{
	max-width: 100%;
	max-height: 100%;
}

.shop-item > .spec
{
	width: 100%;

	font-size: 1.4em;
	font-family: monospace;

	display: flex;
	justify-content: space-between;
}

.shop-item > .price
{
	color: #DC3C4D;
	margin: 0.25rem;
}

.add-to-cart-container
{
	max-height: 47px;

	display: flex;

	position: relative;
	right: 12.5px;
}

.add-to-cart-container > .quantity-container
{
	width: 25px;
	height: 100%;

	display: flex;
	flex-direction: column;
	justify-content: center;
}

.quantity-container button
{
	height: 30%;

	font-weight: bold;

	display: flex;
	justify-content: center;
	align-items: center;

	padding: 0;
	border: none;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button 
{
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.quantity-container input
{
	width: 100%;
	height: 45%;

	text-align: center;
	font-size: 1.25em;

	padding: 0;
}

.add-to-cart
{
	background-color: #DC3C4D;

	font-size: 1.5em;
	font-family: monospace;

	padding: 0.75rem;
	border: none;
}

.add-to-cart:active
{
	background-color: hsl(354, 70%, 45%)
}

#cart
{
	background-color: #DC3C4D;
	flex-grow: 1;

	padding: 2.5rem 0;
}

.cart-item.cart-header, .cart-item.cart-footer
{
	background-color: hsl(0, 0%, 75%);
}

.cart-item.cart-header > .item-img
{
	width: 100px !important;
}

.cart-item.cart-header > .item-name,
.cart-item.cart-header > .item-quantity,
.cart-item.cart-header > .item-price,
.cart-item.cart-footer > .total
{
	color: black;
	font-size: 2.5em;
	font-family: monospace;
	font-weight: bold;
}

.cart-item.cart-item.cart-header h1
{
	margin: 0;
}

.cart-item
{
	height: 125px;
	width: 100%;
	background-color: hsl(0, 0%, 85%);

	display: flex;
	justify-content: space-between;
	align-items: center;

	position: relative;

	padding: 0 5rem;
}

.cart-item > .delete
{
	cursor: pointer;
	color: #DC3C4D;
	font-size: 4em;
	font-family: monospace;

	position: absolute;
	left: 1rem;
	top: 50%;
	transform: translateY(-50%);
}

.cart-item > .item-img > img
{
	max-width: 100%;
	max-height: 80%;
}

.cart-item > .item-img,
.cart-item > .item-quantity,
.cart-item > .item-price
{
	width: 100px;
	height: 100%;
	white-space: nowrap;

	display: flex;
	justify-content: center;
	align-items: center;

	display: flex;
	justify-content: center;
}

.cart-item > .item-name
{
	flex-grow: 1;

	padding: 0 7.5rem;
}

.cart-item > .item-quantity
{
	width: 300px;
}

.cart-item > .item-quantity > button
{
	background: transparent;
	
	cursor: pointer;
	color: #DC3C4D;
	font-size: 1em;

	padding: 0;
	border: none;
}

.cart-item > .item-quantity > span
{
	margin: 0 1rem;
}

.cart-item > .item-price,
.cart-item > .item-quantity,
.cart-item > .item-name
{
	color: #DC3C4D;
	font-size: 2.25em;
	font-family: monospace;
}

#footer
{
	width: 100%;
	height: 50px;
	background-color: hsl(0, 0%, 90%);

	font-size: 1.5em;
	font-weight: 600;

	display: flex;
	justify-content: center;
	align-items: center;

	position: absolute;
	bottom: 0;
}

#footer > a
{
	transition: color 0.125s ease-in-out;
	color: black;

	display: flex;
	align-items: center;

	margin-left: 0.5rem;
}

#footer > a:hover
{
	color: #DC3C4D;
}
